.card-container {
    max-width: 400px;
}

.card-header-user-icon {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card-header-text {
    margin-left: 20px;
}

.estimated-time {
    display: inline-block;
    padding: 5px;
    border: 1px solid;
    border-radius: 8px;
}

mat-card-actions {
    display: flex;
    align-items: center;
    margin: 8px 0 0 0;
}
