mat-toolbar {
    position: fixed;
}

mat-toolbar button {
    color: white;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.app-container {
    padding-top: 64px;
    height: calc(100vh - 64px);
}
