/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.app-container {
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
    color: black;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}
