/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.app-container {
    margin: 0;
    min-height: calc(100vh - 96px);
    padding: 80px 3rem 1rem;
    color: black;
    background-color: #FFF;
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}
